@import 'tailwindcss';
@import 'tw-animate-css';

/* Custom variables */
@theme {
  --font-ubuntu: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;

  --breakpoint-3xl: 120rem;

  --container-8xl: 90rem;
  --container-9xl: 100rem;

  --color-zinc-150: #ececee;
  --color-zinc-250: #dcdce0;
  --color-zinc-350: #bbbbc1;
  --color-zinc-450: #898992;
  --color-zinc-550: #62626b;
  --color-zinc-650: #494951;
  --color-zinc-750: #333338;
  --color-zinc-850: #202023;

  --background-image-image: url('./assets/background.png');
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Custom scale options */
  html[data-uiscale='50'] {
    font-size: 6px;
  }
  html[data-uiscale='75'] {
    font-size: 10px;
  }
  html[data-uiscale='100'] {
    font-size: 14px;
  }
  html[data-uiscale='125'] {
    font-size: 18px;
  }
  html[data-uiscale='150'] {
    font-size: 22px;
  }

  /* Custom scrollbar styles */

  /* Custom styles */
  body {
    @apply font-ubuntu subpixel-antialiased;
  }
}

@layer utilities {
  .app-drag {
    /* It's not an error. This class is used by electron to make the window draggable. */
    app-region: drag;
  }

  .app-no-drag {
    /* It's not an error. This class is used by electron to explude a component from the draggable area. */
    app-region: no-drag;
  }
}

/* Custom theme variants */
@custom-variant t-dark {
  &:where([data-theme='dark'] *) {
    @slot;
  }
}

@custom-variant t-light {
  &:where([data-theme='light'] *) {
    @slot;
  }
}

/* Font imports */
@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
