@import "tailwindcss";
@import "tailwindcss-animated";

/* Custom variables */
@theme {
  --breakpoint-3xl: 120rem;

  --color-rust-50: #fdfdf5;
  --color-rust-100: #fbfaeb;
  --color-rust-200: #f0e9b0;
  --color-rust-300: #e9d97c;
  --color-rust-400: #e0c141;
  --color-rust-500: #cfa92d;
  --color-rust-600: #b68721;
  --color-rust-700: #926420;
  --color-rust-800: #805422;
  --color-rust-900: #64411f;
  --color-rust-950: #4b2b12;

  --background-image-image-vs: url("./assets/background.jpg");
}

/* Custom theme variants */
@custom-variant t-dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
}

@custom-variant t-light {
  &:where([data-theme="light"] *) {
    @slot;
  }
}

@custom-variant t-rust {
  &:where([data-theme="rust"] *) {
    @slot;
  }
}

@custom-variant t-midnight {
  &:where([data-theme="midnight"] *) {
    @slot;
  }
}

/* Custom scrollbar class */
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none !important;
    scrollbar-color: transparent transparent !important;
  }
}

/* Custom scale options */
html[data-uiscale="50"] {
  font-size: 8px;
}
html[data-uiscale="75"] {
  font-size: 12px;
}
html[data-uiscale="100"] {
  font-size: 16px;
}
html[data-uiscale="125"] {
  font-size: 20px;
}
html[data-uiscale="150"] {
  font-size: 24px;
}

/* Custom scrollbar styles */
*::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Custom themed scrollbar styles */
body[data-theme="dark"] *::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
}

body[data-theme="light"] *::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

body[data-theme="rust"] *::-webkit-scrollbar-thumb {
  @apply bg-rust-700;
}

body[data-theme="rust"] *::-webkit-scrollbar-thumb {
  @apply bg-rust-700;
}

body[data-theme="midnight"] *::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}
